<!--
  Date format snippet
  See: ${JS_ROOT}/utils/timeago.js
-->

{% assign tooltip_df = site.data.date_format.tooltip | default: '%a, %b %e, %Y, %l' %}
{% assign post_long_df = site.data.date_format.post.long | default: '%b %e, %Y' %}
{% assign post_short_df = site.data.date_format.post.short | default: '%b %e' %}

<em class="timeago{% if include.class %} {{ include.class }}{% endif %}"
    inalid-data-ts="{{ include.date | date: '%s' }}"
    {% if false and include.tooltip  %}
      data-toggle="tooltip" data-placement="bottom" data-tooltip-df="llll"
    {% endif %}
    {% if include.capitalize %}
      data-capitalize="true"
    {% endif %}>
  
    {% assign this_year = site.time | date: "%Y" %}
    {% assign post_year = include.date | date: "%Y" %}
  
    {% if post_year == this_year %}
      {{ include.date | date: post_short_df }}
    {% else %}
      {{ include.date | date: post_long_df }}
    {% endif %}
</em>
